.App {
  text-align: center;
}

.party-tally-section {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-container {
  width: 100%;
  max-width: 400px; /* Adjust as needed */
  height: 300px;
  margin-bottom: 20px;
}

.tally-list ul {
  list-style: none;
  padding: 0;
}

.tally-list li {
  font-weight: bold;
  margin-bottom: 5px;
}

.data-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.bills-container,
.mps-container {
  width: 45%;
}

.bills-list, .mp-list {
  max-height: 80vh;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
}

.bill-item, .mp-item {
  border-bottom: 1px solid #eee;
  padding: 10px;
  text-align: left;
}

.mp-item img {
  max-width: 100px;
  float: left;
  margin-right: 15px;
}
